.species__content {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 336.6px;
}

.species__card-2_3 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: #E8E9EA;
    height: 336px;
    width: 984px;
}

.species__card-3 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 213px;
    right: 540px;
}


.species__title {
    font-size: 36px;
    line-height: 39px;
    width: 359px;
    height: 119px;
    margin: 32px;
    padding-bottom: 93px;
}

.species__title {
    font-size: 36px;
    line-height: 39px;
    width: 359px;
    height: 119px;
    margin: 32px;
    padding-bottom: 93px;
}

.species__text {
    display: flex;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #FF5F00;
    font-size: 16px;
    width: 183px;
    line-height: 35px;
    margin: 32px;
}

.subtitle {
    font-size: 24px;
    line-height: 26px;
    margin: 78px;
}

.species__title-card-3 {
    font-size: 24px;
    line-height: 26px;
}

.species__item-link--strato-enterprice {
    text-decoration: none;
    color: #000000;
}

.species__item-link--strato-cloud-services {
    text-decoration: none;
    color: #000000;
}

.species__item-link--strato-enterprise {
    text-decoration: none;
    color: #000000;
}

.species__item-link--strato-cloud-services {
    text-decoration: none;
    color: #000000;
}

.species__energy {
    margin: 39px;
    padding-top: 18px;
}

.species__system-integrators {
    margin: -13px;
    padding: 68px;
}

.species__img {
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .species__content,
    .species__card-2_3 {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .species__card-3 {
        position: relative;
        right: 0;
        margin: 20px auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .species__card-2_3 {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .species__content {
        width: 100%;
    }

    .species__card-2_3 {
        width: 100%;
    }

    .species__card-3 {
        position: relative;
        right: 0;
        margin: 20px auto;
    }
}